<template name="sleepingProblem">
  <label class="control-label">
    Does your child have a sleeping problem?
  </label>
  <div id="sleepingProblemRadioGroup">
    <label class="radio-inline">
      <input type="radio" name="sleepingproblem" id="yesSleepingProblem">Yes
    </label>
    <label class="radio-inline">
      <input type="radio" name="sleepingproblem">No
    </label>
  </div>
</template>

<!-- <template name="trackableForm">
  <label class="control-label">
    What is your child's bed time?
  </label>
  <div id="datetimepicker3" class="input-append">
    <input class="bedTime" data-format="hh:mm:ss" type="text" id="bedTime">
    <span class="add-on">
      <button class="btn btn-primary">Choose</button>
    </span>
  </div>
  <label class="control-label">
    When do you like to be notified?
  </label>
    <div><input class="notifyAfter" type="number" id="notifyTime"><label>Hours After</label></div>
  <label class="control-label">
    How often would you like to be notified?
  </label>
  <div>
    <label>Every</label><input class="notifyFrequency" type="number" id="frequency"><label>Hours</label>
  </div>
</template> -->


<template name="trackableForm">
  {{#if hasProblemContext}}
    {{> problemContextQuestions}}
  {{else}}
  <label class="control-label">Which of the following if your biggest concerns about your child's sleep?</label>
  <br />
    {{#each problemInputs}}
      {{> problemInput}}
    {{/each}}
  <button class="btn" id="nextButton">Next</button>
  {{/if}}
</template>

<template name="problemInput">
  <div class="checkbox">
    <label>
      <input class="checkbox" type="checkbox" id={{code}}> {{name}}
    </label>
  </div>
  {{#if isChecked code}}
    <select class="severitySelect">
      <option value="1">Nothing</option>
      <option value="2">A little</option>
      <option value="3">Something</option>
      <option value="4">Bad</option>
      <option value="5">Severe</option>
    </select>
  {{/if}}
</template>

<template name="problemContextQuestions">
  {{#if isBedTimeProblem}}
    <label class="control-label">Which of these bedtime behaviours applies to Sarah?</label>
    <br />
    <div class="checkbox">
      <label>
        <input class="checkbox" type="checkbox">Refuses to go to bed.
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input class="checkbox" type="checkbox">Stays awake for more than 20 minutes before falling asleep
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input class="checkbox" type="checkbox">Needs you to go to bed
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input class="checkbox" type="checkbox">Has worries or anxieties when she goes to bed
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input class="checkbox" type="checkbox">Gets agitated/hyperactive before bedtime.
      </label>
    </div>
  {{else}}
    {{#if isBreathingProblem}}

      <label class="control-label">Which of the following are your biggest concerns about Sarah's breathing during sleep?</label>
    <br />
    <div class="checkbox">
      <label>
        <input class="checkbox" type="checkbox">Sweating/hot at night
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input class="checkbox" type="checkbox">Snoring
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input class="checkbox" type="checkbox">Breathing pauses
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input class="checkbox" type="checkbox">Mouth breathing
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input class="checkbox" type="checkbox">Bedwetting at night
      </label>
    </div>
    {{/if}}
  {{/if}}
  <button class="btn button">Next</button>
</template>
